furo
pydoc-markdown  # if you prefer mkdocs https://pydoc-markdown.readthedocs.io/en/latest/
Sphinx==3.4.3
sphinx-autoapi
sphinxcontrib-confluencebuilder

setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
